* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
}

header {
    margin-top: 0px;
}

.header-panel {
    margin: 0 auto;
}

.header-navigator {
    padding: 32px 0px;
    font-weight: 400;
    font-size: 18px;
    list-style-type: none;
    text-align: center;
}

.header-navigator li {
    display: inline-block;
}

.header-item-two,
.header-item-three,
.header-item-four,
.header-item-five {
    margin-left: 72px;
}

.header-navigator a{
    text-decoration: none;
    color: #000;
}

.image-container {
    text-align: center;
    background-color: #00BDC9;
}

.image-item {
    margin: 92px auto;
}

.content-container {
    margin: auto;
    width: 856px;
    padding-top: 88px;
}

.content-container h2 {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
}

.content-container-text {
    padding-top: 40px;
}

.content-container-paragraph {
    font-weight: 600;
    font-size: 21px;
}

.content-container-list {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.button-container {
    margin-top: 10px;
    text-align: center;

}

button {
    padding: 10px 24px;
    border: none;
    background-color: #04959E;
    color: #FFFFFF;
}

button p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.3px;
}

footer {
    margin-top: 90px;
}

.footer-text {
    text-align: center;
}

.footer-text p{
    margin: 16px 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
}

hr {
    height: 1px;
    background-color: #161616;
}